.container__big-card {
  width: 400px;
  height: auto;

  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: flex-start;
  margin: 0rem 1rem 1rem 0rem;
  padding: 0.825rem 0.825rem 0px 0px;
}

.big-card__photo > a > img {
  width: 100%;
  min-width: 400px;
  object-fit: cover;
  border-radius: 0.625rem;
  transition: all 0.3s ease-in-out;
}

.big-card__photo > a > img:hover {
  border-radius: 0rem;
}

.big-card__title > h1 {
  font-size: 1.7rem;
  margin: 0.875rem 0 0.625rem;
}

.big-card__title > h1 > a {
  transition: all 0.3s ease-in-out;
}

.big-card__title > h1 > a:hover {
  color: darkgray;
}

.big-card__description {
  padding-bottom: 0.825rem;
}

.big-card__description > p > a {
  color: gray;
  font-size: 0.875rem;
  transition: all 0.3s ease-in-out;
}

.big-card__description > p > a:hover {
  color: darkgray;
}
