@media screen and (max-width: 768px) {
  .container__big-card {
    width: 100%;
    height: auto;
  }
  .big-card__photo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .big-card__photo > img {
    width: 100%;
    min-width: 400px;
    object-fit: cover;
  }
  .separator {
    display: block;
  }
}
