.container__big-card {
  width: 400px;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0rem 1rem 1rem 0rem;
}

.big-card__photo > img {
  width: 100%;
  min-width: 400px;
  object-fit: cover;
}

.big-card__title > h1 {
  font-size: 1.7rem;
  margin: 0.875rem 0 0.625rem;
}

.big-card__description > p > a {
  color: gray;
  font-size: 0.875rem;
}
