<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjYgG4y2Yw8uHNn_mva2Dq1E0gIBK32Th3uR1HlMsVKatGFrba091PZIQTL5MUA4HCmxQ&usqp=CAU"
    alt="Photo Principal">
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#"> Saiu a nova versão do Angular </a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eligendi maxime corrupti aliquam, repellat eaque exercitationem impedit maiores, cum libero provident? Voluptates consequatur quidem similique molestias nesciunt dignissimos explicabo tenetur!
      </a>
    </p>
  </div>
</div>
