.container__small-card {
  width: 100%;
  margin-bottom: 0.625rem;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
  margin: 0.625rem 0rem;
}
.container__small-card__separator {
  margin: 0.625rem 0rem;
}
.small-card__photo > a > img {
  width: 200px;
  min-width: 200px;
  height: 100%;
  min-height: 60px;
  object-fit: cover;
  border-radius: 0.825rem;
  margin-right: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.small-card__photo > a > img:hover {
  border-radius: 0rem;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.78;
}

.small-card__title > h1 > a {
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.small-card__title > h1 > a:hover {
  color: darkgray;
}

.container__small-card__separator > hr {
  background-color: var(--redMarvel);
  height: 1px;
  border: 0;
}
