@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #111111;
  --text-color: #ffffff;
  --font-default: "Roboto", sans-serif;
  --redMarvel: #ed1b24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-default);
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

.separator > hr {
  background-color: var(--redMarvel);
  height: 1px;
  border: 0;
}
